# Ignore node_modules (already installed in Dockerfile)
node_modules

# Ignore Git-related files
.git
.gitignore

# Ignore local environment files
.env

# Ignore local development files
*.md
*.log

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore sensitive config directories
.aws
.npmrc